<style>

    .main-feed {
    box-sizing: border-box;
    background-color: #283f4d;
    margin-bottom: 10px;
    padding: 15px;
    position: relative;
    border:1px solid lightgrey;

}
.feed-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid;
    padding-bottom: 10px;
        margin-bottom: 10px;
}


    .feed-user h3 a {
    font-size: 20px;
    font-weight: 500;
    color: #fff !important;
    margin-left: 7px;
    font-family: monospace;
}

.feed-bottom {
    margin-top: 20px;
}

.feed-bottom small {
    color: green;
    font-weight: 500;
    letter-spacing: 0.25em;
}
.feed-bottom small {
    border: 1px solid transparent;
    padding: 4px 15px;
    border-radius: 20px;
    background: lightgray;

}

.feed-middle {
    /* background: #8dbce5c7; */
    /* padding: 30px 20px; */
    /* text-align: center; */
    border: none;
    margin-top: 0;
    padding-top: 15px;
}
.feed-middle h3 a {
    color: white;
    

}
.feed-middle h3 a:hover{
    color:rgb(77, 137, 163);
    letter-spacing: 2px;
    
}
.feed-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.feed-user{
    margin-top: 5px;
}
</style>

<!--End of Style-->

<div>
    {% for room in page_obj %}

    <div class="main-feed">
        <div class="feed-top">
            <div class="feed-user d-flex">
                <img  src="{{ room.host.avatar.url }}" alt="">
                <h3>
                    <a href="{% url 'user-profile' room.host.id %}">{{ room.host.name }}</a>
                </h3>
            </div>
            <div class="feed-edit">
                {% if request.user == room.host %}
                <a class="btn btn-sm btn-success" href="{% url 'update-room' room.id %}">Edit</a>
                <a class="btn btn-sm btn-danger" href="{% url 'delete-room' room.id %}">Delete</a>
                {% endif %}
            </div>
        </div>
        <div class="feed-middle">
            <h3><a href="{% url 'room' room.id %}">{{ room.name }} </a></h3>
        </div>
        <div class="feed-bottom">

            <small>{{ room.topic.name }}</small>

        </div>
    </div>
    {% endfor %}

        <!--        paginator-->
<!--                <nav aria-label="Page navigation example  m-auto">-->
<!--                    <ul class="pagination justify-content-center ">-->
<!--                        {% if page_obj.has_previous %}-->
<!--                        <li class="page-item ">-->
<!--                            <a class="page-link" href="?page=1">&laquo; First</a>-->
<!--                        </li>-->
<!--                        <li class="page-item">-->
<!--                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>-->
<!--                        </li>-->
<!--                        {% endif %}-->

<!--                        {% if page_obj.has_next %}-->
<!--                        <li class="page-item">-->
<!--                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>-->
<!--                        </li>-->
<!--                        <li class="page-item">-->
<!--                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages  }}">Last &raquo;</a>-->
<!--                        </li>-->
<!--                        {% endif %}-->
<!--                    </ul>-->
<!--                </nav>-->

</div>