{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}

<style>

    .login-form {
    width: 50%;
    margin: auto;
    border: 1px solid;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.register-form {
    margin: auto;
    margin-top: 20px;
    border: 1px solid;
    padding: 20px;
    margin-bottom: 20px;
}

</style>
{% if page == 'login' %}
<div class="login-form">
    <div class="mb-3">

        <form method="POST" action="">
            {% csrf_token %}
            <label class="form-label">Username</label>
            <input type="text" class="form-control" name="username">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
            <input type="submit" class="btn btn-success mt-2 " value="login"/>
        </form>
    </div>
    <p>Don't Have an Account?</p>
    <a href="{% url 'register-page' %}">Sign up</a>
</div>
{% else %}
<div class="register-form w-50">
    <form method="POST" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success mt-2" value="Register">
    </form>
    <p>Already Have an Account?</p>
    <a href="{% url 'login-page' %}">Sign in</a>
</div>

<div class="mb-3">
    <label for="" class="form-label"></label>
</div>

{% endif %}

{% endblock %}